@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
:root {
    --A-4-Scholar: #333D51;
    --B-4-Scholar: #D3AC2B;
    --C-4-Scholar: #CBD0D8;
    --D-4-Scholar: #F4F3EA;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--A-4-Scholar);
    font-family: 'Cairo', sans-serif;
}

main {
    position: relative;
    width: 100vw;
}

nav {
    background-color: rgba(0, 0, 0, 0.2);
    height: 8vh;
    color: var(--B-4-Scholar);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slideshow {
    height: 85vh;
    position: relative;
    overflow: hidden;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slide img {
    width: 100%;
    height: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--B-4-Scholar);
    font-weight: bold;
    font-size: 1.9rem;
    transition: background 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease;
    -ms-transition: background 0.6s ease;
    -o-transition: background 0.6s ease;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* packages */

ul {
    list-style: none;
}

.pack_title {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    color: var(--B-4-Scholar);
}

.packages {
    margin: 2rem 0 2rem;
    position: relative;
    float: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

::-webkit-scrollbar {
    display: none;
}

.packages div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: var(--C-4-Scholar);
    padding: 2rem;
    height: 500px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    transition: background .5s linear;
    -webkit-transition: background .5s linear;
    -moz-transition: background .5s linear;
    -ms-transition: background .5s linear;
    -o-transition: background .5s linear;
}

.packages div ul {
    text-align: center;
    margin-top: 2rem;
}

.packages div ul li {
    padding: 1rem;
    margin-bottom: 5px;
    width: 100%;
}

.packages div:hover {
    background-color: var(--D-4-Scholar);
}

.title {
    color: var(--B-4-Scholar);
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, .8);
}

.price {
    margin-top: 1rem;
    font-size: 3rem;
    /* background-color: var(--B-4-Scholar); */
    font-weight: bold;
    padding: 1rem;
    text-shadow: 2px 2px var(--B-4-Scholar);
}